/* viewAppointment.css */
.appointments-page {
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .go-to-home-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .appointments-container {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  h2 {
    margin-top: 0;
    font-size: 24px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .appointment-card {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .insure-card-image {
    max-width: 100%;
    height: auto;
    max-height: 150px; /* Set the maximum height for the image */
  }
  
  /* Add responsive styles */
  @media screen and (max-width: 768px) {
    .appointments-container {
      padding: 10px;
    }
  
    h2 {
      font-size: 20px;
    }
  
    .appointment-card {
      margin-top: 10px;
    }
  }
  